        body {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          background-image: url('/images/emp1.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
        }
        .page-content {
            margin-top: 120px; 
            background-color: rgba(0,0,0,0.7);
            padding: 30px;
            border-radius: 10px;
        }

        .main-content {
            padding-top: 100px;
            padding-bottom: 40px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .hero-section {
            height: 60vh;
            background-size: cover;
            background-position: center;
            position: relative;
        }

        .hero-overlay {
            background: rgba(0, 0, 0, 0.6);
            padding: 40px;
            border-radius: 12px;
            color: white;
        }
