        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            background-image: url('/images/emp1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .main-content {
            padding-top: 100px;
            padding-bottom: 40px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .card {
            border-radius: 12px;
        }
        
        footer {
            margin-top: auto;
        }